{% extends "global/panel.twig" %}

{% block header %}
    <h1>Item Page</h1>
{% endblock %}

{% block toolbar %}
    <div class="col-lg-8">
        {% block buttons %}
            <a class="btn btn-default" href="index">
                <i class="glyphicon glyphicon-chevron-left"></i>
                回前頁
            </a>
        {% endblock %}
    </div>

    <div class="col-lg-4">
    </div>
{% endblock %}