{% extends "global/panel.twig" %}

{% block header %}
    <h1>List Page</h1>
{% endblock %}

{% block toolbar %}
    <div class="col-lg-8">
        {% block buttons %}
            <a class="btn btn-default" href="{% block return %}../index{% endblock %}">
                <i class="glyphicon glyphicon-chevron-left"></i>
                回前頁
            </a>
        {% endblock %}
    </div>

    <div class="col-lg-4">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
            </span>
        </div>
    </div>
{% endblock %}