/* SMS Prototype Custom CSS */


/* GLOBAL */


/* BODY */


/* TYPO */


/* LAYOUT */


/* HEADER */


/* BANNER */


/* MENU */


/* MAIN CONTENT */


/* LEFT COLUMN */


/* RIGHT COLUMN */


/* ARTICLE */


/* TABLE */


/* FOOTER */
