@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500);
html,
body {
  font-family: 'Roboto', /*'Xin4',*/ 'Heiti TC', '微軟正黑體', sans-serif;
  font-size: 17px;
  line-height: 175%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', 'Adobe 繁黑體 Std', 'AdobeFanHeitiStd-Bold', 'LiHei Pro', "Xin6", '微軟正黑體', sans-serif;
  margin-bottom: 1em;
  line-height: 120%;
}
a {
  transition: all 0.5s;
}
a:hover {
  transition: all 0.5s;
}
/*
.jf-loading body {
	opacity: 0;
	// visibility: hidden;
	.transition(.2s);
}
.jf-active body {
	opacity: 1;
	// visibility: visible;
	.transition(.2s);
}
.jf-inactive body {
	opacity: 1;
	// visibility: visible;
	.transition(.2s);
}
*/
.uk-button {
  border-radius: 3px;
}
.uk-button-hero {
  padding: 10px 20px;
  line-height: 40px;
  font-size: 24px;
}
.uk-button-primary {
  box-shadow: 0 4px 0 #0091cc;
}
.uk-button-primary:hover {
  box-shadow: 0 4px 0 #009fde;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #444;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #666;
  text-decoration: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.round {
  border-radius: 5px;
}
.uk-table td,
.uk-table th {
  padding: 8px;
  border-bottom: 1px solid #e5e5e5;
}
dl dt {
  min-width: 130px;
  float: left;
}
dl dt,
dl dd {
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #e5e5e5;
}
#header {
  height: 70px;
  position: relative;
}
#header.uk-navbar {
  background-color: #ffffff;
}
#header .uk-navbar-brand {
  height: 70px;
}
#header .uk-navbar-brand img {
  max-height: 100%;
  padding: 10px;
}
#header .uk-navbar-nav > li > a {
  font-family: 'Roboto', 'LiHei Pro', 'Heiti TC', 'Xin6', '微軟正黑體', sans-serif;
  height: 70px;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 25px;
}
#header span.menu-item-title {
  display: block;
  line-height: 140%;
}
#header span.menu-item-sub-title {
  font-size: 80%;
  text-transform: uppercase;
  color: #A0A0A0;
  display: block;
  line-height: 140%;
}
#header .uk-navbar-toggle {
  margin-top: 15px;
}
@media (max-width: 767px) {
  #header #mainmenu {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  #header #mainmenu.uk-hidden-small {
    transition: all 0.5s;
  }
  #header #mainmenu li {
    width: 100%;
    float: none;
  }
  #header #mainmenu li a:hover {
    background: #eee;
  }
}
#banner {
  background: url(../images/banner.jpg) center -343px no-repeat;
  -webkit-filter: saturate(0.8);
  height: 200px;
}
#banner .banner-title {
  text-align: center;
  padding-top: 200px;
}
#banner .banner-title h1,
#banner .banner-title h2,
#banner .banner-title h3 {
  margin: 0;
  line-height: 1.2;
  color: #ffffff;
}
#banner .banner-title h1 {
  font-size: 120px;
  font-family: Arvo, "Helvetica Neue", Helvetica, sans-serif, Arial, sans-serif;
}
#banner .banner-title h2 {
  font-family: Arvo, "Helvetica Neue", Helvetica, sans-serif, Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
}
#banner .banner-title h3 {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif, Arial, sans-serif;
  font-weight: 300;
  margin-top: 20px;
  font-size: 30px;
  opacity: .7;
}
#banner .banner-inner-title h1 {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif, Arial, sans-serif;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  font-size: 65px;
  padding-top: 50px;
  text-transform: uppercase;
}
.home #header {
  background: transparent;
  position: absolute;
  top: 0px;
  width: 100%;
  color: #fff;
  z-index: 5;
}
.home #header .uk-navbar-brand img {
  display: none;
}
.home #header a {
  color: #fff;
  opacity: .7;
}
.home #header a:hover {
  background: transparent;
  opacity: 1;
}
.home #header a:hover span.menu-item-sub-title {
  color: #333;
  opacity: .84;
  transition: all 0.5s;
}
.home #header a:focus {
  background: transparent;
}
.home #header span.menu-item-sub-title {
  color: #715E49;
  opacity: .84;
  transition: all 0.5s;
}
.home #banner {
  height: 650px;
  background-position: center center;
}
@media (max-width: 767px) {
  .home #mainmenu a {
    color: #000000;
  }
  .home #banner {
    background-position: -550px center;
    -webkit-filter: saturate(0.3);
  }
  .home #banner .banner-title {
    padding-top: 150px;
  }
  .home #banner .banner-inner h1 {
    font-size: 50px;
  }
  .home #banner .banner-inner h2 {
    margin-top: 50px;
    font-size: 25px;
  }
  #banner .banner-inner-title h1 {
    font-size: 40px;
    padding-top: 30px;
  }
}
#main-body {
  padding-top: 50px;
}
#main-body h1.page-title {
  text-align: center;
  margin-bottom: 0.3em;
}
#main-body h2.sub-title {
  text-align: center;
  margin-top: 0;
  font-weight: 300;
  color: #999;
  font-family: 'Roboto', /*'Xin4',*/ 'Heiti TC', '微軟正黑體', sans-serif;
}
.main-block {
  padding: 75px 0;
}
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  line-height: 1.5;
  font-family: 'Roboto', 'Adobe 繁黑體 Std', 'AdobeFanHeitiStd-Bold', 'LiHei Pro', "Xin6", '微軟正黑體', sans-serif;
  font-weight: 700;
  margin: 1em 0 .7em 0;
}
.article-content :not(pre) code {
  font-size: inherit;
  color: #666;
  background-color: #eee;
  padding: 1px 8px;
  word-wrap: break-word;
  white-space: normal;
}
.article-content em {
  color: #000;
}
.article-content p {
  margin: 1.3em 0 1.8em 0;
  word-wrap: break-word;
}
.article-content p img:only-child {
  display: block;
  margin: 0 auto;
}
.article-content table {
  /* 1 */
  border-collapse: collapse;
  border-spacing: 0;
  /* 2 */
  width: 100%;
  /* 3 */
  margin-bottom: 15px;
}
.article-content * + table {
  margin-top: 15px;
}
.article-content table th,
.article-content table td {
  padding: 8px 8px;
}
.article-content table th {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
.article-content table td {
  vertical-align: top;
  border-bottom: 1px solid #e5e5e5;
}
.article-content table thead th {
  vertical-align: bottom;
}
.article-content table caption,
.article-content table tfoot {
  font-size: 12px;
  font-style: italic;
}
.article-content table caption {
  text-align: left;
  color: #999999;
}
.article-content table,
.article-content td {
  vertical-align: middle;
}
.article-content tbody tr:nth-of-type(odd) {
  background: #f5f5f5;
}
.article-content td {
  padding: 4px 8px;
}
.article-content pre > code.hljs {
  margin: -10px;
  padding: 20px;
  font-size: 15px;
  font-family: "monako", consolas, monspace;
}
.article-content blockquote {
  color: #999;
}
#features {
  margin-bottom: 75px;
}
#features h2 {
  font-size: 36px;
}
#features .uk-container {
  max-width: 1200px;
}
#features .feature-item {
  line-height: 200%;
  margin: 75px 0;
}
.home-start-code {
  text-align: center;
  font-size: 18px;
}
.basic-layout h1,
.basic-layout h2,
.basic-layout h3 {
  text-align: center;
}
.basic-layout article.article-content {
  margin-top: 50px;
}
.side-menu.uk-nav .uk-nav-header {
  font-size: 1.3em;
  font-family: 'Oswald', 'Adobe 繁黑體 Std', 'AdobeFanHeitiStd-Bold', 'LiHei Pro', "Xin6", '微軟正黑體', sans-serif;
}
.courses-layout h2.category-title {
  margin-top: 50px;
}
.courses-layout .course-item {
  margin-top: 30px;
}
.course-logo {
  margin-bottom: 50px;
  width: 550px;
}
.small-img {
  width: 650px;
}
.mini-img {
  width: 300px;
}
#footer {
  margin-top: 50px;
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #222;
  color: #ddd;
}
#footer a {
  color: #eee;
}
#footer a:hover {
  color: #999;
  text-decoration: none;
}
#footer a.uk-icon-button {
  color: #333;
}
#footer .footer-logo img {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
}
#footer .footer-logo a {
  opacity: 0.8;
}
#footer .footer-logo a:hover {
  opacity: 1;
}
